.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10rem;

    .morse-translator{
        padding-bottom: 10rem;


        .morse-translator-title{
           
        }

        .morse-translator__output{
            font-size: 4rem;
            font-weight: 400;
            display: inline;
        }
    }
}